body {
    background-color: rgb(211, 127, 211);
}

h2 {
    color: rgb(156, 13, 13);
    font-family: "Times New Roman", Times, serif;
    font-size: x-large;
}
h1 {
    color: rgb(235, 234, 236);
    font-family: "Times New Roman", Times, serif;;
    font-style: italic;
    background-color: ;
 
}